@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* .fi-wi-stats-overview-stat {
    @apply bg-black !important;
} */

/* Color de los iconos */
/* #7B95A6 */

/* Color de los label */
/* [#D9C3C1] */



.fi-sidebar-group-icon {
    @apply text-[#7B95A6] !important;
}

.fi-dropdown-list-item-icon {
    @apply text-[#7B95A6] !important;
}

.fi-ta-header-cell {
    @apply bg-[#7B95A6] !important;
}

.fi-dropdown-list-item-label {
    @apply text-[#D9C3C1] !important;
    @apply font-extrabold ;
}

.fi-dropdown-header-label {
    @apply text-black !important;
    @apply font-bold ;
}

.fi-sidebar-group-label {
    @apply text-black !important;
    @apply font-bold ;
}

.fi-sidebar-item-label {
    @apply text-[#D9C3C1] !important;
    @apply font-extrabold ;
}

.fi-sidebar-header .fi-topbar {
    @apply bg-[#F2F2F2] !important;
}

.fi-sidebar-group-label {
    @apply text-black !important;
}

.bg-gray-50 > th {
    @apply bg-[#7B95A6] !important;
}

.fi-topbar > nav {
    @apply gap-x-2 !important;
}

.fi-ta-header-cell-sort-icon {
    @apply text-white !important;
}

.fi-dropdown-trigger {
    @apply text-[#7B95A6] !important;
}

.relative > svg {
    @apply text-[#7B95A6] !important;
}

.fi-wi-stats-overview-stat .flex {
    justify-content: center;
}

.fi-wi-stats-overview-stat-description {
    @apply text-xs;

}

.fi-wi-stats-overview-stat-label {
    @apply text-xs;
    /* @apply text-black !important; */
}

.fi-wi-stats-overview-stat-value {
    @apply text-2xl;
}

.fi-wi-stats-overview-stat {
    padding: 5px;
}

.fi-wi-stats-overview-stats-ctn {
    @apply gap-3;
}

.bg-serv {
    background-color: #3ec7d28a !important;
}

.bg-prod {
    background-color: #4a9ac98a !important;
}

.bg-client {
    background-color: #bf9c999e !important;
}



.fi-wi > div:nth-child(1) section {
    border: 4px solid #3ec7d38a;
    border-radius: 10px 10px 10px 10px;
}

.fi-wi > div:nth-child(1) header {
    border-bottom: 2px solid #3ec7d28a;
    border-radius: 10px 10px 0px 0px;
}


.fi-wi > div:nth-child(2) header {
    border-bottom: 2px solid #bf9c999e;
    border-radius: 10px 10px 0px 0px;
}

.fi-wi > div:nth-child(2) section {
    border: 4px solid #bf9c999e;
    border-radius: 10px 10px 10px 10px;
}

.fi-wi > div:nth-child(3) header {
    border-bottom: 2px solid #7B9AA6;
    border-radius: 10px 10px 0px 0px;
}

.fi-wi > div:nth-child(3) section {
    border: 4px solid #7B9AA6;
    border-radius: 10px 10px 10px 10px;
}

.fi-wi > div:nth-child(4) section {
    border: 4px solid #3ec7d38a;
    border-radius: 10px 10px 10px 10px;
}

.fi-wi > div:nth-child(4) header {
    border-bottom: 2px solid #3ec7d28a;
    border-radius: 10px 10px 0px 0px;
}

.fi-wi > div:nth-child(5) header {
    border-bottom: 2px solid #bf9c999e;
    border-radius: 10px 10px 0px 0px;
}

.fi-wi > div:nth-child(5) section {
    border: 4px solid #bf9c999e;
    border-radius: 10px 10px 10px 10px;
}
/* .fi-wi-stats-overview-stats-ctn > div {
    background-color: aqua;
} */

/* .fi-btn {
    @apply bg-[#F2F2F2] !important;
} */

.fi-page-header-widgets {
    @apply gap-3
}

.fi-wi {
    @apply gap-3
}

.fi-dashboard-page section {
    @apply gap-y-3
}

.auto-cols-fr {
    @apply gap-y-3
}

.fi-dashboard-page header h1 {
    @apply text-xl
}

.fi-wi-stats-overview-stats-ctn {
    height: 100%;
}

.bg-a16d69 {
    @apply border-[#a16d69] !important;
}

.bg-99bcbf {
    @apply border-[#99bcbf] !important;
}

.bg-bf99a9 {
    @apply border-[#bf99a9] !important;
}

.bg-bfaf99 {
    @apply border-[#bfaf99] !important;
}

.bg-99a9bf {
    @apply border-[#99a9bf] !important;
}

.bg-99bfaf {
    @apply border-[#99bfaf] !important;
}

.bg-9c99bf {
    @apply border-[#9c99bf] !important;
}

.fi-wi-stats-overview-stats-ctn {
    @apply md:grid-cols-4 !important;
    @apply lg:grid-cols-4 !important;
    @apply xl:grid-cols-4 !important;
}

